.content .company-card {
  width: 100%;
  min-height: 10rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.company-card .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-card .title span.tag {
  font-size: 10px;
  border-radius: 5px;
  height: fit-content;
  padding: 2px 8px;
  background-color: rgba(94, 94, 94, 0.808);
  color: white;
  text-align: start;
}
.company-card .details div{
  margin:5px 0px;
}
.company-card .details h5 {
  flex-basis: 80px;
  /* align-self: flex-start; */
}
.company-card .details p {
  text-indent: 30px;
  font-size: 15px;
}
.company-card > .details > .address{
  display: flex;
}
.company-card .view-btn{
  display: flex;
  width:100%;
  justify-content: flex-end;
}
.company-card .view-btn button{
  padding:2px 5px;
  background-color: dodgerblue;
  border-radius: 5px;
  color: white;
}