.yellow-card{
    width: 280px;
    height: 465px;
    background-color: rgb(214, 212, 203);
    box-shadow: 0 5px 5px 0;
    border-radius: 20px ;
}
.experience-card{
    width: 280px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 0 grey;
    border-radius: 20px ;
    transform: translate(10px,-25px);
    /* transform: translateX(20px); */
}
/* .experience-card:hover {
    width: 270px;
    height: 450px;
    padding-top: 10px;
    padding-bottom: 50px;
    background: linear-gradient(rgba(0, 26, 255, 0.2) , rgba(0, 98, 255, 0.9) ) rgb(230, 230, 230);
    box-shadow: 0 10px 10px 0;
    border-radius: 20px ;
    transform: translateY(-20px);
    transition: 0.5s;
    
} */

.experience-card .user-img{
    padding-top: 20px;
}
.experience-card .user-img img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rating {
    padding-top: 20px;
    padding-left: 30px;
    text-align: center;
    font-size: 25px;
    display: flex;
  }
  .rating .users{
      font-size: 1rem;
  }
.rating .clicked {
   
    padding: 5px;
    color: rgb(255, 251, 0);
  }
  

.card-body .para-text{
   padding-left: 20px;
   padding-right: 20px;
    font-size: 0.7rem;
    color: rgb(26, 26, 26);
    text-align:justify;
    height: 50vh;
}
.card-body .para-text Button{
    margin-left: 50px;  
    margin-top: 0%;   
 }
/* .card-body .readmore{
   align-items: center;
} */

/* .card-body .button1{
    background-color: rgb(165, 132, 255);
    padding: 5px 2px 2px 2px;
    margin-left: 115px;
    color: black;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
    transform: translateY(5px);
    transition: 0.5s;
}
.card-body .button1:hover{
    background-color: rgb(0, 62, 233);
    padding: 5px 2px 2px 2px;
    margin-left: 115px;
    color: black;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
    transform: translateY(5px);
    transition: 0.5s;
} */




/* .Category .box{
    position: relative;
    top: 110px;
    width: 250px;
    height: 250px;
    background-color: rgba(220,220,220,0.5);
} */

